<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceNowSoap">
                  <security mode="Transport">
                    <transport clientCredentialType="Basic" proxyCredentialType="Basic" realm="">
                      <extendedProtectionPolicy policyEnforcement="Never" />
                    </transport>
                  </security>
                </binding>
                <binding name="ServiceNowSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://milestone2.service-now.com/InsertKBA.do?SOAP"
                binding="basicHttpBinding" bindingConfiguration="ServiceNowSoap"
                contract="SNKBA.ServiceNowSoap" name="ServiceNowSoap" />
        </client>
    </system.serviceModel>
</configuration>